.tabs {
    border: 1px solid #cccccc;
    display: flex;
}

.tabs__sidebar {
    width: 350px;
    flex-shrink: 0;
    background-color: #cccccc;
}

.tabs__button1 {
    display: block;
    padding: 10px;
    background: none;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    background: white;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    border: 1px solid rgba(20, 54, 1, 0.6);
    font-size: 20px;
    line-height: 30px
}

.tabs__button1:active {
    background: #136d01;
}

.tabs__button1:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.tabs__button1--active {
    font-weight: bold;
    border-right: 2px solid#7ff767;
    background: wheat;
}

.tabs__content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__content>:first-child {
    margin-top: 0;
}